.card-veiculos {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .card-veiculos h2 {
    font-size: 1.5rem;
  }
  
  .card-veiculos h3 {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
  .card-veiculos label {
    font-weight: bold;
  }
  
  .card-veiculos input {
    width: 30%;
    padding: 8px;
    margin: 8px 0;
  }
  
  .card-veiculos button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .card-veiculos button:hover {
    background-color: #0056b3;
  }
  
  .card-veiculos .veiculo-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    width: 30%;
  }
  
  .card-veiculos .veiculo-card strong {
    font-weight: bold;
  }
  
  .card-veiculos p {
    color: #007bff;
    font-weight: bold;
  }
  