@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap");

.card-veiculos {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 55%;
  height: 75vh;
  margin: 0 auto;
}

.card-veiculos h2 {
  font-size: 5vh;
}

.card-veiculos h3 {
  font-size: 1.2rem;
  margin-top: 20px;
}

.card-veiculos label {
  font-weight: bold;
}

.card-veiculos input {
  width: 30%;
  padding: 8px;
  margin: 8px 0;
}

.card-veiculos button {
  background-color: #f3b202;
  color: #000000;
  border: none;
  padding: 8px 16px;
  margin: 8px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Dosis", sans-serif;
}

.card-veiculos button:hover {
  color: antiquewhite;
}

.card-veiculos .veiculo-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
  width: 30%;
}

.card-veiculos .veiculo-card strong {
  font-weight: bold;
}

.card-veiculos p {
  color: #007bff;
  font-weight: bold;
}
